<?xml version="1.0" encoding="utf-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php" verbose="true">
  <testsuites>
    <testsuite name="Commands">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">./src/</directory>
        <exclude>
          <file>src/Console/Helper/Table.php</file>
        </exclude>
    </whitelist>
  </filter>
</phpunit>
